<ul>
    <li class="active"><a href="dashboard"><i class="icon-home"></i> Dashboard</a></li>
    <li><a href="@Url.Content("~/Admin/City")"><i class="icon-graph"></i>Tỉnh thành</a></li>
    <li><a href="@Url.Content("~/Admin/Disctrict")"><i class="icon-graph"></i>Quận/huyện</a></li>
    <li><a href="@Url.Content("~/Admin/Address")"><i class="icon-graph"></i>Địa chỉ</a></li>
</ul>