/****** Object:  Table [dbo].[ToThamVieng]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToThamVieng](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[ShortTitle] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_ToThamVieng] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinHuu_ChucVu]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinHuu_ChucVu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
	[ShortTitle] [nvarchar](50) NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_TinHuu_ChucVu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinHuu]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinHuu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](100) NULL,
	[MiddleName] [nvarchar](50) NULL,
	[NickName] [nvarchar](50) NULL,
	[Gender] [bit] NOT NULL,
	[DateOfBirth] [nvarchar](50) NULL,
	[Avatar] [nvarchar](250) NULL,
	[PlaceOfBirth] [nvarchar](250) NULL,
	[IdentityNumber] [nvarchar](250) NULL,
	[IDApprovedDate] [nvarchar](50) NULL,
	[IDApprovedPlace] [int] NULL,
	[BelieveDate] [nvarchar](50) NULL,
	[BaptismDate] [nvarchar](50) NULL,
	[PermanentAddressId] [int] NULL,
	[ContactAddressId] [int] NULL,
	[CurrentAddressId] [int] NULL,
	[BirthAddressId] [int] NULL,
	[ChucVuId] [int] NULL,
	[CurrentChurchId] [int] NULL,
	[TinhThanhId] [int] NULL,
	[HoGiaDinh_Id] [int] NULL,
	[BanNganh_Id] [int] NULL,
	[TitleId] [int] NULL,
	[Phone] [nvarchar](250) NULL,
	[MobilePhone] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[TenDayDuKhongDau] [nvarchar](250) NULL,
	[DanToc] [int] NULL,
	[KetHon] [int] NULL,
	[BelieveYear] [int] NULL,
	[BaptismYear] [int] NULL,
	[DateOfDeath] [nvarchar](50) NULL,
	[Notes] [nvarchar](1000) NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[QuanHeGiaDinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinHuu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoGiaDinh]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoGiaDinh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HomeOwner_Id] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[ShortTitle] [nvarchar](50) NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_HoGiaDinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinHuu_AssignmentHistory]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinHuu_AssignmentHistory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TinHuu_Id] [int] NOT NULL,
	[ChucDanh_Id] [int] NULL,
	[Role] [nchar](50) NOT NULL,
	[StartDate] [nvarchar](50) NULL,
	[EndDate] [nvarchar](50) NULL,
	[TyLeLuu] [int] NULL,
	[Paper] [nvarchar](250) NULL,
	[NamChucVu] [int] NULL,
	[ApplyDate] [date] NULL,
	[IsCurrent] [bit] NULL,
 CONSTRAINT [PK_TinHuu_AssignmentHistory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinHuu_Conduct]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinHuu_Conduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ConductTypeId] [int] NULL,
	[TinHuu_Id] [int] NOT NULL,
	[Fromdate] [nvarchar](50) NULL,
	[ToDate] [nvarchar](50) NULL,
	[VanBan] [nvarchar](250) NULL,
	[SoVanBan] [nvarchar](250) NULL,
 CONSTRAINT [PK_TinHuu_Conduct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToThamVieng_HoGiaDinh]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToThamVieng_HoGiaDinh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ToThamVieng_Id] [int] NULL,
	[HoGiaDinh_Id] [int] NULL,
 CONSTRAINT [PK_ToThamVieng_HoGiaDinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinHuu_Addresses]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinHuu_Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Street] [nvarchar](1000) NULL,
	[Ward] [nvarchar](50) NULL,
	[District] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Country] [nvarchar](100) NULL,
	[DistrictId] [int] NULL,
	[CityId] [int] NULL,
	[HomePhone] [nvarchar](20) NULL,
	[Fax] [nvarchar](20) NULL,
	[Email] [nvarchar](250) NULL,
 CONSTRAINT [PK_TinHuu_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoGiaDinh_TinHuu]    Script Date: 04/05/2015 17:39:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoGiaDinh_TinHuu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[HoGiaDinh_Id] [int] NULL,
	[TinHuu_Id] [int] NULL,
	[Status] [nchar](10) NULL,
 CONSTRAINT [PK_HoGiaDinh_TinHuu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_HoGiaDinh_TinHuu]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[HoGiaDinh]  WITH CHECK ADD  CONSTRAINT [FK_HoGiaDinh_TinHuu] FOREIGN KEY([HomeOwner_Id])
REFERENCES [dbo].[TinHuu] ([Id])
GO
ALTER TABLE [dbo].[HoGiaDinh] CHECK CONSTRAINT [FK_HoGiaDinh_TinHuu]
GO
/****** Object:  ForeignKey [FK_HoGiaDinh_TinHuu_HoGiaDinh]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[HoGiaDinh_TinHuu]  WITH CHECK ADD  CONSTRAINT [FK_HoGiaDinh_TinHuu_HoGiaDinh] FOREIGN KEY([HoGiaDinh_Id])
REFERENCES [dbo].[HoGiaDinh] ([id])
GO
ALTER TABLE [dbo].[HoGiaDinh_TinHuu] CHECK CONSTRAINT [FK_HoGiaDinh_TinHuu_HoGiaDinh]
GO
/****** Object:  ForeignKey [FK_HoGiaDinh_TinHuu_TinHuu]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[HoGiaDinh_TinHuu]  WITH CHECK ADD  CONSTRAINT [FK_HoGiaDinh_TinHuu_TinHuu] FOREIGN KEY([TinHuu_Id])
REFERENCES [dbo].[TinHuu] ([Id])
GO
ALTER TABLE [dbo].[HoGiaDinh_TinHuu] CHECK CONSTRAINT [FK_HoGiaDinh_TinHuu_TinHuu]
GO
/****** Object:  ForeignKey [FK_TinHuu_Addresses_City]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[TinHuu_Addresses]  WITH CHECK ADD  CONSTRAINT [FK_TinHuu_Addresses_City] FOREIGN KEY([CityId])
REFERENCES [dbo].[City] ([id])
GO
ALTER TABLE [dbo].[TinHuu_Addresses] CHECK CONSTRAINT [FK_TinHuu_Addresses_City]
GO
/****** Object:  ForeignKey [FK_TinHuu_Addresses_District]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[TinHuu_Addresses]  WITH CHECK ADD  CONSTRAINT [FK_TinHuu_Addresses_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[District] ([id])
GO
ALTER TABLE [dbo].[TinHuu_Addresses] CHECK CONSTRAINT [FK_TinHuu_Addresses_District]
GO
/****** Object:  ForeignKey [FK_TinHuu_AssignmentHistory_TinHuu]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[TinHuu_AssignmentHistory]  WITH CHECK ADD  CONSTRAINT [FK_TinHuu_AssignmentHistory_TinHuu] FOREIGN KEY([TinHuu_Id])
REFERENCES [dbo].[TinHuu] ([Id])
GO
ALTER TABLE [dbo].[TinHuu_AssignmentHistory] CHECK CONSTRAINT [FK_TinHuu_AssignmentHistory_TinHuu]
GO
/****** Object:  ForeignKey [FK_TinHuu_Conduct_TinHuu]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[TinHuu_Conduct]  WITH CHECK ADD  CONSTRAINT [FK_TinHuu_Conduct_TinHuu] FOREIGN KEY([TinHuu_Id])
REFERENCES [dbo].[TinHuu] ([Id])
GO
ALTER TABLE [dbo].[TinHuu_Conduct] CHECK CONSTRAINT [FK_TinHuu_Conduct_TinHuu]
GO
/****** Object:  ForeignKey [FK_ToThamVieng_HoGiaDinh_HoGiaDinh]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[ToThamVieng_HoGiaDinh]  WITH CHECK ADD  CONSTRAINT [FK_ToThamVieng_HoGiaDinh_HoGiaDinh] FOREIGN KEY([HoGiaDinh_Id])
REFERENCES [dbo].[HoGiaDinh] ([id])
GO
ALTER TABLE [dbo].[ToThamVieng_HoGiaDinh] CHECK CONSTRAINT [FK_ToThamVieng_HoGiaDinh_HoGiaDinh]
GO
/****** Object:  ForeignKey [FK_ToThamVieng_HoGiaDinh_ToThamVieng]    Script Date: 04/05/2015 17:39:27 ******/
ALTER TABLE [dbo].[ToThamVieng_HoGiaDinh]  WITH CHECK ADD  CONSTRAINT [FK_ToThamVieng_HoGiaDinh_ToThamVieng] FOREIGN KEY([ToThamVieng_Id])
REFERENCES [dbo].[ToThamVieng] ([id])
GO
ALTER TABLE [dbo].[ToThamVieng_HoGiaDinh] CHECK CONSTRAINT [FK_ToThamVieng_HoGiaDinh_ToThamVieng]
GO
