USE [TongLienHoi_Production]
GO
/****** Object:  Table [dbo].[AAA]    Script Date: 03/26/2015 01:01:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AAA](
	[id] [float] NULL,
	[churchname] [nvarchar](255) NULL,
	[addressfull] [nvarchar](255) NULL,
	[diachi] [nvarchar](255) NULL,
	[tinhthanhid] [float] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AAA] ([id], [churchname], [addressfull], [diachi], [tinhthanhid]) VALUES (160, N' Phước An                                         ', N'30 Trần Hưng Đạo, TT. Phước An, H. Krông Păk', N'30 Trần Hưng Đạo, TT. Phước An, H. Krông Păk', 14)
INSERT [dbo].[AAA] ([id], [churchname], [addressfull], [diachi], [tinhthanhid]) VALUES (538, N' Thôn 9 + 10                                      ', N'Xã Cư San, H. M’ Drăk', N'Xã Cư San, H. M’ Drăk', 14)
INSERT [dbo].[AAA] ([id], [churchname], [addressfull], [diachi], [tinhthanhid]) VALUES (752, N'A Chôm 2                                          ', N'H. Nam Giang', N'H. Nam Giang', 41)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
