@{
    Layout = "~/Views/Shared/_LayoutNull.cshtml";
}
    <div id="login-container">
        <div id="login-logo">
            <h2>Đổi mật khẩu</h2>
        </div>
        <form id="login-form" method="post" class="form-horizontal">
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" id="login-email" name="oldpassword" placeholder="Mật khẩu cũ" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="text" id="login-email" name="newpassword" placeholder="Mật khẩu mới" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <input type="password" id="login-password" name="renewpassword" placeholder="Nhập lại mật khẩu mới" class="form-control">
                        <span class="input-group-addon"><i class="fa fa-asterisk fa-fw"></i></span>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="btn-group btn-group-sm pull-right">
                    <button type="submit" name="btnLogin" value="login" class="btn btn-success"><i class="fa fa-arrow-right"></i> Login</button>
                </div>
                <div class="checkbox pull-left">
                    <label for="remember">
                        <input id="rememberme" type="checkbox" value="option1" name="rememberme">
                        Nhớ trạng thái đăng nhập
                    </label>
                </div>
            </div>
        </form>
    </div>
   