@using System.Globalization
<!DOCTYPE html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
    <meta charset="utf-8">
    </head>
    <body>
        <br />
        <table width="100%" cellpadding="4" cellspacing="1" border="0">
            <tr>
                <td style="border-bottom:solid 1px #dddddd; font-family:Times New Roman ;font-style: normal; font-size: 9px;" >
                    <p>abcdef some day ngày hôm nay là một ngày tuyệt vời tôi muốn hát một bài hát</p>
                </td>
            </tr>
        
        </table>
 
    </body>
</html>