.themed-color-default {
     color: #DB4A39 ! important;
}

.themed-background-default {
     background-color: #DB4A39 ! important;
}

.themed-border-default {
     border-color: #DB4A39 ! important;
}

.themed-color-deepblue {
     color: #284E99 ! important;
}

.themed-background-deepblue {
     background-color: #284E99 ! important;
}

.themed-border-deepblue {
     border-color: #284E99 ! important;
}

.themed-color-deepgreen {
     color: #365917 ! important;
}

.themed-background-deepgreen {
     background-color: #365917 ! important;
}

.themed-border-deepgreen {
     border-color: #365917 ! important;
}

.themed-color-deepwood {
     color: #594117 ! important;
}

.themed-background-deepwood {
     background-color: #594117 ! important;
}

.themed-border-deepwood {
     border-color: #594117 ! important;
}

.themed-color-deeppurple {
     color: #6B2180 ! important;
}

.themed-background-deeppurple {
     background-color: #6B2180 ! important;
}

.themed-border-deeppurple {
     border-color: #6B2180 ! important;
}
